@use "../abstracts/index" as *;

.mdx-image-group{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include min-width(medium){
        justify-content: space-between;
        gap: 0;
    }
}

.mdx-hero-image-wrapper{
    margin-top: 20px;
    margin-bottom: 60px;
    @include min-width(medium){
        margin-left: calc(-100vw / 2 + 1280px / 2);
        margin-right: calc(-100vw / 2 + 1280px / 2);
    }
    
    .mdx-hero-image{
        width: 100%;
    }
}

.mdx-blog-image{
    max-width: 100%;
}

.mdx-blog-image--sm{
    width: 450px;
}

// .mdx-blog-image--md{
//     width: 550px;
// }

// .mdx-blog-image--lg{
//     width: 650px;
// }

.mdx-h1, .mdx-h2, .mdx-h3{
    margin-bottom: 15px;
}

.mdx-paragraph{
    opacity: .8;
    margin-bottom: 40px;
    line-height: 2;
    font-weight: 500;
}

.mdx-blockquote{
    .mdx-paragraph{
        margin-bottom: 0;
    }
  
    margin:60px auto;
    font-weight: 700;
    padding:1em 30px 1em 30px;
    border-left:8px solid $purple;
    line-height:1.6;
    position: relative;
    background: rgb(219,239,250);
    background: -moz-linear-gradient(90deg, rgba(219,239,250,0.5018382352941176) 0%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(219,239,250,0.5018382352941176) 0%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(219,239,250,0.5018382352941176) 0%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbeffa",endColorstr="#00d4ff",GradientType=1);

    &::before{
    content: "\201C";
    color:$purple;
    font-size:2em;
    position: absolute;
    left:10px;
    top:5px;

        @include min-width(medium){
            font-size:4em;
            left: 10px;
            top:-10px;
        }
    }

    @include min-width(medium){
        width:90%;
        padding:1.2em 30px 1.2em 75px;
    }
}

.mdx-link-group{
    .mdx-paragraph{
        margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    margin-bottom: 40px;
}


.mdx-link{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: $purple-secondary;
    p{
        color: $purple-secondary;
    }
}