@use "../abstracts/variables" as *;

@font-face{
    font-family: 'EudoxusSans';
    font-weight: 300 400 500 700;
    src: url(/fonts/EudoxusSansGX.woff2) format("woff2");
    font-style: normal;
}
  
h1, h2, h3, h4, h5, p, .p-date{
    font-family:'EudoxusSans';
    color: $darkblue;
    /* minimum, preferred and maximum value */
    font-size: clamp(var(--min), var(--val), var(--max));
}

h1{
    --min: 1.75em; /* minimum value */
    --val: 5vw; /* preferred value = 5% viewport width */
    --max: 3em; /* maximum value */
}

h2{
    --min: 1.5em;
    --val: 4vw;
    --max: 2.375em
}

h3{ 
    --min: 1.125em;
    --val: 3vw;
    --max: 2.25em;
}

h4{
    --min: 1.125em;
    --val: 3vw;
    --max: 1.25em;
}

h5{
    --min: 1em;
    --val: 3vw;
    --max: 1.125em;
}

p{
    --min: 1em;
    --val: 3vw;
    --max: 1.125em;
}

.p-18{
    --min: 1em;
    --val: 2.5vw;
    --max: 1.125em;
}

.p-16{
    font-weight: 500;
    line-height: 26px;
    --min: 0.875em;
    --val: 2.5vw;
    --max: 1em;

}

.p-date{
    font-weight: 500;
    --min: 1em;
    --val: 3vw;
    --max: 1em;
}

.label-12, .label-14{
    font-family:'EudoxusSans';
}

.label-14{
    font-size: 0.875em; 
}

.label-12{
    font-size: 0.75em; 
    color: $purple;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

